go 1.25.5

use (
	./smart-recruit-ai-agent-service
	./smart-recruit-analytics-service
	./smart-recruit-commons
	./dev-log-viewer
	./smart-recruit-gateway
	./smart-recruit-identity-service
	./smart-recruit-interview-service
	./smart-recruit-notification-service
	./smart-recruit-offer-service
	./smart-recruit-platform-go
	./smart-recruit-proto
	./smart-recruit-recruitment-service
	./smart-recruit-worker-service
)
